@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background-color: #484848;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.active {
    transform: translateX(0);
  }
  
  @media (max-width: 200px) {
    .sidebar {
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
    }
  
    .sidebar.active {
      transform: translateX(0);
    }
  }